*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #FFFFFF ;;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {

}

.conteaner {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.header--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 ;
}

.wrapper--logo {
  margin-right: 210px;
}

.logo--img {
  
  max-width: 130px;
}

.wrapper--row {
  
}

.row__info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #444444;
  margin-left: 30px;
}

.row__info:hover {
 
  margin-left: 28px;
  color: #E6B939;
  transition: 0.5s;
}

.row__info:active {
  font-size: 15px;
  color: #c1e207;
}

.wrapper--btn {

}

.btn {
  background: #575445;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 10px 18px; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.header__btn {
 
}

.btn__cart {
  margin-left: 20px;
  background-image: url(../images/Cart.png);
  background-repeat: no-repeat;
  background-position: bottom 13px left 15px;
  padding: 10px 18px 10px 36px;
}

.section--info__outdoor {
  background-image: url(../images/logo__content.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}



.inner--text {
  width: 495px;
  padding: 218px 0 227px 0;
  align-items: center;
  position: relative;
  
}

.slogan__exploration {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #E6B939;
}

.gear {
  margin-top: 0;
  margin-bottom: 9px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.text__exploration {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #CACCD1;
}

.section--description {
  background-repeat: no-repeat;
  background-image: 
  url(../images/Combined-Shape\ 1.png) ;
  background-position: 50% -10%;
 
 
}

.wrapper--description {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description__img {

}

.inner--description {
  width: 384px;
  
}

.subtitle__description {
  margin: 0;
  padding-bottom: 7px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #575445;
}

.text__description {
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #575445;
  padding-bottom: 20px;
}

.section--filter {
 background: #FAFAFC;
 background-image: url(../images/Combined.png);
 background-repeat: no-repeat;
 background-position: right 5% ;
}

.inner__filter {
  padding-top: 100px;
  text-align: center;
  width: 538px;
  margin: auto;
  padding-bottom: 70px;
}

.wrapper--filter__products {
  text-align: center;
  width: 287px;
  margin-bottom: 130px;
}

.wrapper--filter {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrap__icon {
  margin: auto;
  width: 64px;
  padding: 18px;
  border-radius: 50px;
  background: #575445;
}

.icon__gor {
  margin-bottom: 7px;
}

.subtitle__filter {
  padding: 10px 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #575445;
}

.text__filter {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #575445;
  margin: 0;
}

.inner--famyli__bottom {
  padding-bottom: 20px;
}

.main {
padding-bottom: 100px;
}

.main--wrapper {
  padding: 0 15px;
  max-width: 1800px;
  display: flex;
  justify-content: center;
}

.main--wrap {
  margin: 8px 8px;
}

.wrap__accessories {
  border-radius: 10px;
  text-align: center;
  width: 380px;
  background-image: url(../images/main/accessories.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding:39px 0 305px;
}

.wrap__apparel {
  border-radius: 10px;
  text-align: center;
  width: 380px;
  background-image: url(../images/main/apparel.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding:39px 0 305px;
}

.wrap__climbing{
  border-radius: 10px;
  text-align: center;
  width: 380px;
  background-image: url(../images/main/climbing.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding:39px 0 305px;
}

.wrap__headwear {
  border-radius: 10px;
  text-align: center;
  width: 380px;
  background-image: url(../images/main/Headwear.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding:39px 0 305px;
}

.wrap__hiking {
  border-radius: 10px;
  text-align: center;
  width: 380px;
  background-image: url(../images//main/Hiking\ Gear.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding:39px 0 305px;
}

.wrap__jackets {
  border-radius: 10px;
  text-align: center;
  width: 380px;
  background-image: url(../images/main/Jackets.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding:39px 0 305px;
}

.main--wrap__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #575445;
}

.main--wrap__subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #575445;
}

.span__next {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445; 
}

.main--next__list {
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
}

.section--surfing {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 612px 40px 40px;
  background-image: url(../images/IMAGE.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.surfing__wrapper {
  padding: 15px 0;
  width: 645px;
  
  border-radius: 16px;
}

.wrap--surfing {
  background-position:20% 30%;
  padding-left: 45px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}

.wrap--surfing:hover {
  color: #E6B939;
  cursor: pointer;
}

.wrap--first_Aid_Kit {
  background-image: url(../images/icon/basket.png);
  background-repeat: no-repeat;
 
  
  
}

.wrap--banger_Bottle {

}

.wrap--brian_Schultz {
  background-image: url(../images/icon/phone.png);
  background-repeat: no-repeat;
}

.wrap--leah_Stoff {
  background-image: url(../images/icon/user.png);
  background-repeat: no-repeat;
}

.wrap--catalina_California {
  background-image: url(../images/icon/teleg.png);
  background-repeat: no-repeat;
  background-position: 15% 30%;
}


.section--surfing--green {
  text-align: center;
  padding: 100px 0;
  background:#375C58;
  background-size: cover;
  background-image: url(../images/uzor.png);
  background-repeat: no-repeat;
}

.surfing--green__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FAFAFC;
  margin: 0;
}

.section--surfing__check {
  font-size: 36px;
  padding-bottom: 10px;
}

.surfing--green__text__p {
  padding-top: 7px;
  width: 538px;
  margin: auto;
  color: #FAFAFC;;
}

.btnVisit {
  padding: 11px 18px;
  background: #FFFFFF;
  border-radius: 6px;
}


.section--navigating {
  padding: 100px 0 72px 0;
}
.slogan__navigating {

}

.text__navigating {
  max-width: 538px;
}

.navigating__inner {
  max-width: 568px;
}

.section--navigating__content {
display: flex;
justify-content: space-between;

}

.extrime__img {
  
}

.navigating--wrap__text {
  max-width: 465px;
}

.wrapper__user {
  max-width: 568px;
  display: flex;
  justify-content: space-between;
}

.wrap--user {
display: flex;
align-items: center;
padding-bottom: 50px;
}

.img__user {
  width: 50px;
  height: 50px;
}
       
.user {
  padding-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #575445;
}

.span__user {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #E6B939;
}

.user__date {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #6F7278;
}

.gazeta__img {
  opacity: 0.4;
}

.footer {
  padding: 100px 0;
  background: #575445;
  border-radius: 0px;
}

.footer--logo {
  text-align: center;
  padding-bottom: 75px;
}

.pages {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #E6B939;
}

.pages__list {
  display: block;
  padding-bottom: 10px;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.pages__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FAFAFC;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

}

.footer__form {
  max-width: 458px;
}

.footer__btn {
  position: absolute;
  
}

.footer__input {
  position: relative;
  
  padding: 16px 0 17px 21px;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 458px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #575445;
}